<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('./includes/header.ejs') %> 
    <div class="container">
        <br>
        <a href="/pergunta" class="btn btn-primary" role="button">Fazer Pergunta</a>
        <hr>
        <% perg.forEach(value=>{ %>
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title"><%= value.titulo %></h4>
                  <p class="card-text"><%= value.descricao.substr(0,200) %> ...</p>
                  <a href="/<%= value.id %>" class="card-link">responda</a>
                </div>
            </div>
            <br>
        <% }) %> 
    </div>
</body>
</html>